body{
    background-image: url('ai-generated-8867688_1920.jpg');
    background-attachment: fixed;

    width: 70%;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: navy;
    padding: 3rem;
    color: yellow;
    font-size: 2rem;
}
header h1 {
    font-size: 80px;
    font-weight: 800;

    background-image: url("ai-generated-8867688_1920.jpg");
    background-attachment: fixed;

    background-size: cover;
    background-position: center;

    color: transparent;                 /* a szöveg színe eltűnik */
    -webkit-background-clip: text;      /* Chrome, Safari */
    background-clip: text;              /* szabvány */

    font-family: "Boldonse";
}

/* MENÜ ***************************************************/
nav {
    display: flex;
}

nav a {
    flex: 1;              /* azonos szélesség */
    text-align: center;   /* szöveg középre */
    padding: 10px;
    text-decoration: none;
    background: #eee;
    border: 1px solid #ccc;
    color: navy;
    font-weight: bold;
}

nav a:hover {
    background: #ddd;
}
/* END MENÜ ***************************************************/

/* MAIN *********************************************************/

article {
    display: flex;
    width: 100%;
    /*margin-bottom: 40px;*/
    border-bottom: 1px solid #ccc;
}

/* méretek */
.sm {
    width: 30%;
    aspect-ratio: 1 / 1;      /* négyzet */
    overflow: hidden;         /* levágja a kilógó részt */
}

.lg {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

/* kép kitöltése */
.sm img {
    width: 100%;
    height: 100%;
    object-fit: cover;        /* kitölti, nem torzul */
    display: block;
}

/* csak demo stílus */
article {
    background: #f5f5f5;
}

.lg p {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}

/* END MAIN *****************************************************/





/* RESPONSIVE ****************************************************/

@media (max-width: 768px) {

    body {width: 100%;}

    article {
        flex-direction: column;
    }

    .sm, .lg {
        width: 100%;
    }
}
