body{
    background-image: url('brick-wall-3170274_1920.jpg');
    width: 70%;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: coral;
    padding: 3rem;
    color: yellow;
    font-size: 2rem;
}

/* MENÜ ***************************************************/
nav {
    display: flex;
}

nav a {
    flex: 1;              /* azonos szélesség */
    text-align: center;   /* szöveg középre */
    padding: 10px;
    text-decoration: none;
    background: #eee;
    border: 1px solid #ccc;
    color: coral;
    font-weight: bold;
}

nav a:hover {
    background: #ddd;
}
/* END MENÜ ***************************************************/

/* MAIN *********************************************************/

article {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

/* váltakozás 
article:nth-child(even) {
    flex-direction: row-reverse;
}*/

/* méretek */
.sm {
    width: 30%;
    aspect-ratio: 1 / 1;      /* négyzet */
    overflow: hidden;         /* levágja a kilógó részt */
}

.lg {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

/* kép kitöltése */
.sm img {
    width: 100%;
    height: 100%;
    object-fit: cover;        /* kitölti, nem torzul */
    display: block;
}

/* csak demo stílus */
article {
    background: #f5f5f5;
}

.lg p {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}

/* END MAIN *****************************************************/





/* RESPONSIVE ****************************************************/

@media (max-width: 768px) {
    article {
        flex-direction: column;
    }

    .sm, .lg {
        width: 100%;
    }
}
