body{
    background-image: url('wall-1884019_1920.jpg');
    background-attachment: fixed;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin: 0;
    padding: 0;
}
header{
    /*background-color: royalblue;*/
    background-image: url('construction-site-285645_1920.jpg');
    background-position: center;

    padding: 1.5rem 15% 1.5rem 15%;
    color: yellow;
    font-size: 3rem;
    /*font-family: "League Spartan", sans-serif;*/
    font-family: "Saira Condensed", sans-serif;
}

/* MENÜ ***************************************************/
nav {
    width: 100%;            /* teljes szélesség */
    display: flex;          /* egymás mellé teszi a linkeket */
    justify-content: center; /* középre rendezi a gyerekeket */

    background: #eee;
}

nav div {
    width: 70%;             /* a menük doboza */
    display: flex;          /* egymás mellé rendezi az <a>-kat */
}

nav a {
    flex: 1;              /* azonos szélesség */
    text-align: center;   /* szöveg középre */
    padding: 10px 0;
    text-decoration: none;
    
    border: 1px solid #ccc;
    color: navy;
    font-weight: bold;
}

nav a:hover {
    background: #ddd;
}
/* END MENÜ ***************************************************/

/* MAIN *********************************************************/
main {
    width: 70%;
    margin: auto;
}

article {
    display: flex;
    width: 100%;
    /*margin-bottom: 40px;*/
    border-bottom: 1px solid #ccc;
}

/* méretek */
.sm {
    width: 30%;
    aspect-ratio: 1 / 1;      /* négyzet */
    overflow: hidden;         /* levágja a kilógó részt */
}

.lg {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

/* kép kitöltése */
.sm img {
    width: 100%;
    height: 100%;
    object-fit: cover;        /* kitölti, nem torzul */
    display: block;
}

/* csak demo stílus */
article {
    background: #f5f5f5;
}

.lg p {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}

/* END MAIN *****************************************************/

footer {
    background: navy;
    color: #fff;
    padding: 40px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.footer-item i {
    font-size: 20px;
    color: #f39c12;
}





/* RESPONSIVE ****************************************************/

@media (max-width: 768px) {

    main, nav div {width: 100%;}

    article {
        flex-direction: column;
    }

    .sm, .lg {
        width: 100%;
    }
}
